stages:
  - lint-and-build

lint-and-build:
  stage: lint-and-build
  image: node:20
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/
  before_script:
    - npm ci
  script:
    - npm run lint
    - npm run format:check
    - npm run build
    - npm run test
  only:
    - main
    - develop
    - merge_requests
